.git
.gitignore
.gitattributes
.editorconfig
.phpunit.result.cache
.styleci.yml
.github
.docker
docker-compose*.yml
Dockerfile*
README.md
CHANGELOG.md
node_modules
npm-debug.log
yarn-error.log
tests
phpunit.xml
.phpcs.xml
.phpunit.xml
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
vendor
public/build
public/hot
public/storage
